@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #fff;
  margin-bottom: 50px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar li a:hover {
  color: #007bff;
  transition: background 0.3s, color 0.3s;
}

.list li {
  list-style: none;
}
.list a {
  font-weight: 700;
  color: #03045e;
  text-decoration: none;
}
ul {
  display: flex;
  gap: 60px;

  align-items: center;
}
.logo {
  margin-right: 400px;
  margin-left: 10px;
}
.btn button {
  font-weight: 700;
  color: #03045e;
  width: 70px;
  padding: 10px;
  border-radius: 30px;
  margin-right: 30px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.btn button:hover {
  transform: scale(1.1);
}

.login-container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 400;
}
.home7 {
  height: 85vh;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #03045e;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#btn3 {
  width: 100%;
  padding: 10px;
  background-color: #03045e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#btn3:hover {
  background-color: #007bff;
}

.signup-link {
  margin-top: 15px;
  font-size: 14px;
}

.signup-link a {
  color: #333;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
  color: #007bff;
}
.home7 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img5 img {
  width: 600px;
  height: 400px;

  background-position: center;
  background-size: cover;
}

.footer {
  height: 50vh;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  background-color: #f8f8f8;
  padding: 20px;
  border-top: 5px solid #333;
}

.footer-section {
  padding: 5px;
  max-width: 200px;
}

.footer-section h4 {
  font-size: 1.1em;
  margin-bottom: 30px;
  color: #333;
}

.footer-section ul {
  list-style: none;

  flex-direction: column;
}

.footer-section ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #007bff;
}

.footer-logo {
  max-width: 150px;
  margin-bottom: 10px;
}

.footer-bottom {
  text-align: center;
  background-color: #f8f8f8;
  padding: 10px;
  border-top: 1px solid #e7e7e7;
}

.footer-bottom p {
  margin: 0;
  color: #03045e;
  font-weight: 600;
}
#salute {
  color: #007bff;
}
